<div id='repositoryView'>



		<div class='sectionHeader' id='infoArea2'>
			Item Masterdata
		</div>
		<div class='sectionContent' id='infoArea'>
			<table>
				<tr>
					<td>Name</td>
					<td>Template</td>					
					<td rowspan='2'><button id='infoarea_open' class='bluebutton'>Open This Item</button> </td>
				</tr>
				<tr>
					<td><input  id='infoarea_name' /> </td>
					<td><select id='infoarea_template'>
								<option value='false'>No</option>
								<option value='true'>Yes</option>
					</select></td>			
					
				</tr>
			</table>
		
		</div> 
		<br>
 			
 			
			
			<div id="editorWrapper">
				<div class='sectionHeader' id='editorHeader'>
					File Content
					
					<div id="docStatus" style="float:right">Saved</div>
					<div id="fullscreen" style="float:right; margin-right: 10px;"> Fullscreen </div>
				</div>
				<div class='sectionContent' id='contentEditorContainer'></div>
			</div>
			<div class='sectionContent' id='contentPreview'></div>
			<div id='contentOthers'></div>
		
</div>
