<div id='projectDetailsView'>

	<div class='sectionHeader' id='infoArea2'>
	Project Masterdata
	</div>
	<div class='sectionContent' id='infoArea'>
			<table>
				<tr>
					<td>Name</td>
					<td>Template</td>
					<td></td>
					<td>Starter File</td>
				</tr>
				<tr>
					<td><input  id='infoarea_name' /> </td>
					<td><select id='infoarea_template'>
								<option value='false'>No</option>
								<option value='true'>Yes</option>								
					</select></td>
					<td></td>
					<td><select id='infoarea_runitem'>
								
					</select></td>		
				</tr>
				
				<tr>
					<td>Visible by</td>
					<td>Executable by</td>
					<td>Changeable by</td>
					<td></td>
				</tr>
				<tr>
					
					<td><select id='infoarea_vis'>
								<option value='0'>Private</option>
								<option value='1'>Group</option> 
								<option value='2'>Registered User</option>
								<option value='3'>Any User</option>
								<option value='4'>Public</option>
					</select></td>
					<td><select id='infoarea_exe'>
								<option value='0'>Private</option>
								<option value='1'>Group</option> 
								<option value='2'>Registered User</option>
								<option value='3'>Any User</option>
								<option value='4'>Public</option>
					</select></td>
					<td><select id='infoarea_chg'>
								<option value='0'>Private</option>
								<option value='1'>Group</option>
								<option value='2'>Registered User</option>
								<option value='3'>Any User</option>
								<option value='4'>Public</option>
					</select></td>		
					<td></td>
				</tr>
				
				<tr>
					<td></td>
					<td></td>
					<td rowspan='2'></td>					
					<td rowspan='2'><button id='infoarea_download' class='bluebutton'>Download as ZIP</button> </td>
					
				</tr>
				<tr>
					
					<td></td>			
					<td></td>
				</tr>
				
			</table>
		
		</div>
</div>
