<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	        <filter-name>ObjectifyFilter</filter-name>
	        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:META-INF/spring/application-context.xml
            classpath*:META-INF/spring/security-context.xml
        </param-value>
	</context-param> 

	<!-- Enables Spring Security -->
	<filter>
  		<filter-name>springSecurityFilterChain</filter-name>
  		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
      
   <!--    	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
         -->
         
    <servlet>
		<servlet-name>REST</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.dietzm.foundation</param-value>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>REST</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	

	
	<servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/classes/META-INF/spring/dispatcher-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- Alpha Zone Stuff -->
    
    	<servlet>
		<servlet-name>RepositoryServlet</servlet-name>
		<servlet-class>de.dietzm.alphazone.repository.RepositoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepositoryServlet</servlet-name>
		<url-pattern>/alphazone/repo/*</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>DynamicExecutionServlet</servlet-name>
		<servlet-class>de.dietzm.alphazone.dex.DynamicExecutionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DynamicExecutionServlet</servlet-name>
		<url-pattern>/dex/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SpaceLabsRunServlet</servlet-name>
		<servlet-class>de.dietzm.alphazone.labs.SpaceLabsRunServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpaceLabsRunServlet</servlet-name>
		<url-pattern>/labs/run/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PublicAPI</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.dietzm.alphazone.api.publik</param-value>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicAPI</servlet-name>
		<url-pattern>/alphazone/papi/*</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>UserAPI</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.dietzm.alphazone.api.user</param-value>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAPI</servlet-name>
		<url-pattern>/alphazone/uapi/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminAPI</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.dietzm.alphazone.api.admin</param-value>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAPI</servlet-name>
		<url-pattern>/alphazone/aapi/*</url-pattern>
	</servlet-mapping>
	
	
	<!--  Standard Stuff -->
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	<security-constraint>
    <web-resource-collection>
        <web-resource-name>everything</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>
</web-app>
